header{
    background-color: #f3ecec;
}

section {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  section h1 {
    font-size: 24px;
    color: #333;
  }
  
  section p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
  }
  
  figcaption,
  .img {
    /* border: 1px solid #ddd; */
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    background-color: #fff;
  }
  
  figcaption img {
    width: 100%;
    height: auto;
  }
  
  .img, p,
  figcaption figure {
    font-size: 14px;
    margin: 5px 0;
    color: #777;
  }
  
  figcaption figure {
    font-weight: bold;
    color: #000;
  }

  .main-img{
    width: 100%;
    height: 745px;
    background-image: url("https://s3-alpha-sig.figma.com/img/7acf/2b3c/08ae1b1db8a3447b4d04646e824f7594?Expires=1738540800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MWGqa0sEBQEvIZojE2IsAXHYsiekyV~jbO~BzlBbmnEDHRPvK15BhQ8hbUWXf~aKkGZmsdstIeYWZ5Agjdzipg7nOtKQSCkAAMLXpwNGxijuIawDbMKA2Xe1y-lBNOu-41QNG0P0n5YzY2g9GqBhONCjibVBdJj4OBzez4JHRNebjoUwL~5cPepiYiIANnTrc56cOlJ5g-LFw26pCqL2O0bcL5yuM93NGhLxO4e6M9zUVMkDmr10tUkJ6BuBNGGz4BjdF-Ty55WpydNDdx9LRM5C~tDE2WpSEthpHI7qNvn3sgb2urRrhtHBR6i1K3rr63kKWdarmI4gp15LocHf8A__") ;
  }

  .section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  /* --------------------------------------------- */

  .logo{
    font-size: 30px;
  }

  ul li{
    list-style:  none;
  }
  ul{
    display: flex;
    gap: 20px;
cursor: pointer;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
gap: 20px;

  }

  h2{
    font-size: 18px;
    color: #22262A;
  }

  .h1{
    font-size: 80px;
    color: #22262A;
    /* position: relative; */
    /* top: 400px;
    left: 700px; */
  }

  h3{
    color: #22262A;
font-size: 18px;
position: relative;
top: 350px;
padding-left: 700px;
  }

  .btn-1,
  .btn-2{
color: white;
background-color: #22262A;
width: 147px;
height: 35px;
font-size: 18px;
cursor: pointer;
border: none;
  }

  .btn{
    display: flex;
    justify-content: end;
    gap: 20px;
    /* position: relative;
    top: 353px;
    right: 186px; */
  }

  .main-img{
    /* display: flex; */
    align-items: end;
    justify-content: end;
    position: relative;

    
  }
  .name{
    position: absolute;
  bottom: 20px; /* Отступ от низа */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  }

/* -------------------------------------------------------- */
.hero {
    position: relative;
    width: 100%;
    height: 745px; /* Высота изображения, как в Figma */
    background-image: url('https://s3-alpha-sig.figma.com/img/7acf/2b3c/08ae1b1db8a3447b4d04646e824f7594?Expires=1738540800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MWGqa0sEBQEvIZojE2IsAXHYsiekyV~jbO~BzlBbmnEDHRPvK15BhQ8hbUWXf~aKkGZmsdstIeYWZ5Agjdzipg7nOtKQSCkAAMLXpwNGxijuIawDbMKA2Xe1y-lBNOu-41QNG0P0n5YzY2g9GqBhONCjibVBdJj4OBzez4JHRNebjoUwL~5cPepiYiIANnTrc56cOlJ5g-LFw26pCqL2O0bcL5yuM93NGhLxO4e6M9zUVMkDmr10tUkJ6BuBNGGz4BjdF-Ty55WpydNDdx9LRM5C~tDE2WpSEthpHI7qNvn3sgb2urRrhtHBR6i1K3rr63kKWdarmI4gp15LocHf8A__');
    background-size: cover;
    background-position: center;
  }
  
  .content {
    position: absolute;
    bottom: 20px; /* Отступ от низа */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
  }
  
  h1 {
    font-size: 18px;
    margin: 0;
    color: #22262A;
  }
  
  h2 {
    font-size: 48px;
    margin: 10px 0;
  }
  
  p {
    font-size: 18px;
    margin: 10px 0 20px;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    background-color: #22262A;
  }
  
  /* .discover {
    background-color: black;
  } */


/* -------------------------------------------------------- */

.image{
  width: 100%;
  height: 580px;
  background: url('https://s3-alpha-sig.figma.com/img/14f9/d721/6a44dd7c2ede7e9d8a191405e388ee9c?Expires=1738540800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dBjA2Lhjo9Kysb8exvvv3058xO1SK5mYlpAiNB52J1rVK~q0ingTic9P3WRSTZLjRYHzn3rZn40WkQxeE6YsrWWc--hlS10vEpFktmZe5eIlK0oEP6BNJ~r6ljJS39FE33NTD9yxic9dF1NFapPSqV9gzta21AX5MJYcwqh1zXPerg~xMaMi7N6sf5F8udJxUEwdL7jR7aeEWmaSL7D9o4bkelYFBpksTG~8R8vObfD0te~UAMI-CbGTM-IZERf-aW7Oc0xA7QXSKlAfdYnRs3gfp~MJrcTssw63H03CJWsF82XIv~wu89~HGUhmR8oXqiJC3QlLfKeQ1KjE7JkJxw__');
background-repeat: no-repeat;
background-size: contain;
}


.conteiner-div{
  display: flex;
  justify-content: flex-end;
  height: 550px;
  align-items: start;
  gap: 20px;
  flex-direction: column; 
  padding-left: 120px;

}


.day{
  font-size: 18px;
  color: #22262A;
}
 

.tachen{
  font-size: 80px;
  color: #22262A;
}


.footer   {
  background-color: #E7F5F8;
  height: 100px;
}

.foot{
  display: flex;
  justify-content: center;  
  align-items: center;
  height: 100px;
  font-size: 15px;
  color: #22262A;
}

.p{
  color:#22262A;
  font-size: 15px;
}

.logo{
  color: #22262A;
  font-size: 25px;
}

.left-conteiner{
  padding-left: 100px;
  padding-bottom: 100px;
  /* padding-top: 100px; */
}
  
.recive{
  color:#22262A ;
  font-size: 25px;
}
  

input{
  background: #FFFFFF;
  border: none;
  width: 500px;
  height: 40px;
}

.btnn{
  background: #FFFFFF;
  height: 40px;
width: 100px;
  border: none;
}
  

.input-conteiner{
  background: #F2F8FC;
  height: 606px;
  display: flex;
  align-items: center;
  gap: 160px;
}
  

.right-conteiner{
  display: flex;
  gap: 20px;
  align-items: end;
  flex-direction: column; 
padding-right: 20px;
/* padding-top: -600px; */
}

.recive{
  padding-right:290px;
}


.shop-conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 20px;
  flex-direction: row;
}
/* ---------------------------------------------------------- */
.bttn{
  background-color: lightblue;
  color: white;
  border: none;
  width: 100px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}

.bttn:hover{
  background-color: #22262A;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}


input{
  background-color: rgb(229, 233, 235);
}


.modal-content{
  display: flex;
  align-items: center;
  justify-content: center;
  color:  lightblue ;
  /* padding-bottom: 20px;
  padding-top: 20px; */
}


.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}


.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.counter-btn{
  background-color: lightblue;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}

li:hover{
  background-color: #22262A;
  color: white;
  
}

.section-one{
display: flex;
align-items: center;
justify-content: center;
width: 200px;
}



.section-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  /* Центрирует элементы по горизонтали */
  align-items: center;      /* Центрирует элементы по вертикали */
  gap: 16px;                /* Добавляет промежутки между картинками */
  width: 100%;
}

.product-item {
  width: calc(25% - 16px); 
  text-align: center;
}


.product-item img {
  width: 200px;  
  height: auto;
  border-radius: 8px;  
}

.shop{
  background-color: #4f6275;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.shop:hover{
  background-color: rgb(61, 61, 91);
}
.find-conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
}

.find{
  width: 100px;
  height: 43px;
  border: none;
  border-radius: 3px;
  color: gray;
}

.find:hover{
  background: lightblue;
  color: white;
}


.find-input{
  color: grey;
  font-size: 18px;
}

